@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Basic ASP.NET MVC app with Web API for OpenRelics project (<a href="http://otwartezabytki.pl/">http://otwartezabytki.pl/</a>)</p>
