@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <table>
        <tr>
            <td><strong>Support:</strong></td>
            <td><a href="mailto:puzynamarek97@gmail.com">puzynamarek97@gmail.com</a></td>
        </tr>
        <tr>
            <td><strong>GitHub:</strong></td>
            <td><a href="https://github.com/Day1721">https://github.com/Day1721</a></td>
        </tr>
    </table>
</address>