@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong> <a href="mailto:puzynamarek97@gmail.com">puzynamarek97@gmail.com</a>
    <strong>GitHub:</strong> <a href="https://github.com/Day1721">https://github.com/Day1721</a>
</address>