@model IEnumerable<OpenRelicsWebApp.Models.Relic>

@if (Model == null)
{
    <h2>There is no relic with given id</h2>
}
else
{
    <ul>
        @foreach (var relic in Model)
        {
            <li>@Html.ActionLink(relic.Name, "GetById", new { Id = relic.Id })</li>
        }
    </ul>
    
}

@Html.ActionLink("Back", "Index")